@media screen and (max-width: 1000px) {
  /* Kyle - Dashboard */
  .dashboard-content {
    margin-left: 0rem;
    margin-right: 0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  .subheader {
    height: auto;
  }
  .workout-activity-content {
    max-width: 98%;
  }
  .workout-history-content {
    max-width: 98%;
  }
  .workout-history-content img {
    max-width: 98%;
  }
  workout-history-images {
    max-width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .goals-content {
    max-width: 98%;
  }
}
