@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Nunito:wght@300;400;500;600&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  color: #000000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.2rem;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.2rem 0;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #ffffff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}

.brand-logo {
  display: block;
}

.brand-image {
  display: block;
  width: 5rem;
  object-fit: cover;
}
.header-content-liftx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  text-align: left;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
  transition: 300ms ease-in;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  position: relative;
}

.nav-item {
  font-size: 1.8rem;
  font-weight: 600;
}

.nav-item-btn {
  display: block;
  width: 10rem;
  text-align: center;
  padding: 0.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

.nav-item-btn-register {
  background-color: #0875e1;
  color: #ffffff;
}

.nav-item-btn-login {
  background-color: #000000;
  color: #ffffff;
}

#menu-bar {
  display: none;
}
/* Kyle - added */
.subheader {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in;
  margin-top: 7rem;
  position: relative;
  background-color: #7b858f;
}
.header-subcontent {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}
.navbar-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
  transition: 300ms ease-in;
}

.nav-list-subheader {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  position: relative;
}

/* END - Kyle - added */

/* Hero-Video Section */
.showcase {
  width: 100%;
  min-height: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: #ffffff;
  transition: 300ms ease-in;
  z-index: 2;
  margin-top: 7rem;
  position: relative;
}

.showcase-container {
  max-width: 85rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3d3d3d;
  mix-blend-mode: overlay;
}

.showcase-content {
  position: relative;
  z-index: 10;
}

.showcase-title {
  font-family: "Merriweather", serif;
  font-size: 4.7rem;
  line-height: 1.35;
  font-weight: 800;
  margin-bottom: 0.8rem;
  text-align: center;
}

.showcase-title-sp {
  color: #0875e1;
}

.showcase-desc {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.btn {
  display: block;
  padding: 0.8rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.btn-showcase {
  background-color: #0875e1;
  color: #ffffff;
  width: 18rem;
  margin: 0 auto;
  margin-top: 2rem;
}
/* Kyle - Dashboard */
.title {
  text-align: center;
  margin-top: 2rem;
  font-family: "Nunito", sans-serif;
  color: #0875e1;
  font-size: 2.1rem;
}
.dashboard-content {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  row-gap: 1rem;
  column-gap: 5px;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.dashboard img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.dashboard-content h2 {
  color: #000000;
  margin-top: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 2.1rem;
}
.workout-activity-content {
  margin-top: 3rem;
  max-width: 48%;
  outline: 1.5px solid #f0f1f2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.workout-activity-content img {
  margin-top: 2rem;
}
.workout-history-content {
  margin-top: 3rem;
  max-width: 48%;
  outline: 1.5px solid #f0f1f2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.workout-history-content img {
  max-width: 80%;
  outline: 1.5px solid #f0f1f2;
  border-radius: 10px;
}
.workout-history-images {
  margin-top: 2rem;
}
.goals-content {
  margin-top: 3rem;
  max-width: 48%;
  outline: 1.5px solid #f0f1f2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}}
.goals-content img {
  margin-top: 2rem;
}

/* END - Kyle - Dashboard */

/* What-liftx */

.what-liftx {
  margin: 8rem 0;
  padding: 2rem 0;
}

.what-liftx-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  flex-wrap: wrap;
}

.what-liftx-title {
  font-family: "Merriweather", serif;
  font-size: 3.2rem;
  line-height: 1.35;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.what-liftx-desc {
  font-size: 1.8rem;
  font-weight: 500;
}

.what-liftx-img,
.what-liftx-item {
  flex: 1 1 33.3333%;
  padding: 0 0.85rem;
}

.what-liftx-img > img {
  display: block;
  width: 100%;
}

/*Weightlifting-World */

.weight-world {
  margin: 8rem 0;
  padding: 2rem 0;
}

.weight-world-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  flex-wrap: wrap;
}

.weight-world-title {
  font-family: "Merriweather", serif;
  font-size: 3.2rem;
  line-height: 1.35;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.weight-world-desc {
  font-size: 1.8rem;
  font-weight: 500;
}

.weight-world-img,
.weight-world-item {
  flex: 1 1 33.3333%;
  padding: 0 0.85rem;
}

.weight-world-img > img {
  display: block;
  width: 100%;
}

/*Set-Forget */

.set-forget {
  margin: 8rem 0;
  padding: 2rem 0;
}

.set-forget-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  flex-wrap: wrap;
}

.set-forget-title {
  font-family: "Merriweather", serif;
  font-size: 3.2rem;
  line-height: 1.35;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.set-forget-desc {
  font-size: 1.8rem;
  font-weight: 500;
}

.set-forget-img,
.set-forget-item {
  flex: 1 1 33.3333%;
  padding: 0 0.85rem;
}

.set-forget-img > img {
  display: block;
  width: 100%;
}

/* Steps-Registration */

.steps-registration {
  margin: 8rem 0;
  padding: 2rem 0;
}

.steps-registration-title {
  font-family: "Merriweather", serif;
  font-size: 3.2rem;
  line-height: 1.35;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.steps-registration-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  padding: 1.2rem;
}

.steps-registration-logo-link {
  display: block;
  width: 23rem;
  object-fit: cover;
}

.steps-registration-icon {
  font-size: 2.4rem;
  color: #0875e1;
}

.coin-base {
  margin-bottom: 1.5rem;
}

/* Footer */

.footer {
  border-top: 1px solid #dddddd;
  padding: 1.5rem 0;
}

.footer-text {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

/* ----------------------Login-Page---------------------- */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 7.2rem);
}

.login,
.register {
  margin-top: 7.2rem;
  width: 100%;
  padding: 0 1.2rem;
}

.login-content,
.register-content {
  max-width: 76.7rem;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 1.2rem;
}

.login-logo,
.register-logo {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -8rem;
  line-height: 15rem;
  text-align: center;
  background-color: #0875e1;
  color: #ffffff;
}

.login-logo > i,
.register-logo > i {
  font-size: 5.5rem;
}

.login-form,
.register-form {
  padding: 3.5rem 3.5rem 0;
}

.login-form-control,
.register-form-control {
  margin-bottom: 1.5rem;
  position: relative;
}

.login-form-control > label,
.register-form-control > label {
  display: inline-block;
  font-size: 2rem;
  background-color: #0875e1;
  padding: 3px 10px;
  color: #ffffff;
  position: absolute;
}

.login-form-control > input,
.register-form-control > input {
  display: inline-block;
  font-family: inherit;
  border: 1px solid #dddddd;
  height: 3.6rem;
  padding: 0 1.5rem 0 5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  outline: none;
}

.login-form-control-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}

.login-form-forgot-password {
  font-size: 1.6rem;
  font-weight: 500;
  color: #0875e1;
}

.btn-login-signup {
  color: #777777;
}

.btn-login-signup:hover {
  text-decoration: underline;
}

.login-form-forgot-password:hover {
  text-decoration: underline;
}

.btn-login-submit,
.btn-register-submit {
  display: block;
  font-family: inherit;
  width: 15rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}

/* ----------------------Register-Page--------------------- */

.register-form-control-flex-item {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.btn-register-signup {
  color: #777777;
}

.btn-register-signup:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 992px) {
  #menu-bar {
    display: block;
    font-size: 2.8rem;
    cursor: pointer;
  }

  .header {
    z-index: 100;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
    padding: 1.2rem 2.4rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    gap: 2.5rem;
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2.5rem;
    width: 100%;
  }

  .nav-item-btn {
    width: 100%;
  }
}

@media (max-width: 870px) {
  .steps-registration-logo-link {
    width: 18rem;
  }

  .coin-base {
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 767px) {
  .showcase {
    min-height: 45rem;
  }

  .showcase-title {
    font-size: 3.6rem;
  }

  .what-liftx-content {
    flex-direction: column;
    row-gap: 3.5rem;
  }

  .weight-world-content {
    flex-direction: column;
    row-gap: 3.5rem;
  }

  .weight-world-img {
    order: 2;
  }

  .set-forget-content {
    flex-direction: column;
    row-gap: 3.5rem;
  }

  .set-forget-item {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .steps-registration-logo-link {
    width: 13rem;
  }

  .steps-registration-logo {
    column-gap: 1.5rem;
  }
}

@media (max-width: 550px) {
  .steps-registration-logo {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .fa-angle-double-right:before {
    content: "\f103";
  }

  .steps-registration-logo-link {
    width: 22rem;
  }

  .login-form,
  .register-form {
    padding: 2.5rem 0 0;
  }
}

@media (max-width: 525px) {
  .showcase {
    min-height: 40rem;
  }

  .showcase-title {
    font-size: 3.2rem;
  }

  .showcase-title br {
    display: none;
  }

  .showcase-desc {
    font-size: 1.6rem;
  }

  .what-liftx-title,
  .weight-world-title,
  .set-forget-title {
    font-size: 2.6rem;
    text-align: center;
  }

  .what-liftx-desc,
  .weight-world-desc,
  .set-forget-desc {
    font-size: 1.6rem;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .btn-login-submit,
  .btn-register-submit {
    width: 100%;
  }

  .login-form-control-flex {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .login-logo,
  .register-logo {
    width: 10rem;
    height: 10rem;
    line-height: 12.5rem;
    margin-top: -6.5rem;
  }

  .login-logo > i,
  .register-logo > i {
    font-size: 4.5rem;
  }

  .wrapper {
    height: 100%;
    min-height: 100%;
  }

  .login,
  .register {
    margin: 18rem 0 9rem;
  }
}

@media (max-height: 800px) {
  .login-logo,
  .register-logo {
    width: 10rem;
    height: 10rem;
    line-height: 12.5rem;
    margin-top: -6.5rem;
  }

  .login-logo > i,
  .register-logo > i {
    font-size: 4.5rem;
  }

  .wrapper {
    height: 100%;
    min-height: 100%;
  }

  .login,
  .register {
    margin: 18rem 0 9rem;
  }
}
